 <% include header %>
<section id="feature" class="transparent-bg">
	<div class="container">
		<!-- <button
			onclick="highcharts('data/output.csv','scatter','Gender Comparison for Breast Cancer')">Click
			me  Gender bd</button>  -->
		<table>
			<div class="control-group form-group">
				<tr>
					<td><label>Choose from the list to Cancer Type:</label></td>
					<td><select name="cancertype" id="cancertype">
							<option value="breast">Breast</option>
							<option value="colorectal">Colorectal</option>
							<option value="lung">Lung</option>
							<option value="bladder">Bladder</option>
							<option value="vulvar">Vuvlvar</option>
							<option value="prostate">Prostate</option>
					</select></td>
				</tr>
			</div>
			<div class="control-group form-group">
				<tr>
					<td><label>Choose from the list to Visualize result:</label></td>
					<td><select name="attribute" id="attribute">
							<option value="age_at_diagnosis">Age</option>
							<option value="gender_year">GenderBasedOnYear</option>
							<option value="gender">Gender</option>
							<option value="location">Location</option>
							<option value="survival">Life expectancy</option>
					</select></td>
				</tr>
			</div>

			<div class="control-group form-group">
				<tr>
					<td><button onclick="renderchart();">submit</button>
				</tr>
		</table>

		<div id="chart"
			style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
		


		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.prettyPhoto.js"></script>
		<script src="js/jquery.isotope.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/wow.min.js"></script>
		<script
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script type="text/javascript"
			src="http://code.highcharts.com/modules/data.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
		<script type="text/javascript">
		
			function renderchart() {
				var e = document.getElementById("cancertype");
				var cancertype = e.options[e.selectedIndex].value;

				var f = document.getElementById("attribute");
				var attribute = f.options[f.selectedIndex].value;

				//alert(cancertype);
				//alert(attribute);

				if (cancertype == "breast" && attribute == "gender")
					highcharts('data/genderdata_breast.csv', 'column',
							'Gender Comparison for Breast Cancer');
				else if (cancertype == "lung" && attribute == "gender")
					highcharts('data/genderdata_res.csv', 'column',
							'Gender Comparison for Respiratory Cancer');
				else if (cancertype == "breast" && attribute == "gender_year")
					highcharts('data/gender_basedonyear_bd.csv', 'column',
							'Gender Comparison for Respiratory Cancer');
				else if (cancertype == "lung" && attribute == "gender_year")
					highcharts('data/gender_basedonyear_res.csv', 'column',
							'Gender Comparison for Lung Cancer');
				else if (cancertype == "lung" && attribute == "location")
					highcharts('data/location_res.csv', 'pie',
							'Location based Paitents Count');
				else if (cancertype == "prostate" && attribute == "survival")
					highcharts5();
				else if (cancertype == "lung" && attribute == "survival")
					highcharts4();

			}

			function highcharts(path, ctype, ctext) {
				$('#chart').empty();
				$.get(path, function(csv) {
					$('#chart').highcharts({
						chart : {
							type : ctype
						},
						data : {
							csv : csv
						},
						title : {
							text : ctext
						},
						yAxis : {
							title : {
								text : 'Units'
							}
						}

					});
				});
			}
			
			function highcharts4() {
				

				var options = {
					chart: {
						renderTo: 'chart',
						type: 'column'
					},
					title: {
						text: 'Life Expectancy - Lung Cancer'
					},
					xAxis: {
						categories: ['Age']
						
					},
					yAxis: {
						title: {
							text: 'Average Months'
						}
					},
					series: []
				};
				
				
				$.get('data/GroupByAge_AvgMonths_Respiratory.csv', function(data) {
					// Split the lines
					var lines = data.split('\n');
					$.each(lines, function(lineNo, line) {
						var items = line.split(',');
						
						// header line containes categories
						if (lineNo == 0) {
							$.each(items, function(itemNo, item) {
								if (itemNo > 0) options.xAxis.categories.push(item);
							});
						}
						
						// the rest of the lines contain data with their name in the first position
						else {
							var series = { 
								data: []
							};
							$.each(items, function(itemNo, item) {
								if (itemNo == 0) {
									series.name = item;
								} else {
									series.data.push(parseFloat(item));
								}
							});
							
							options.series.push(series);

						}
						
					});
					
					var chart = new Highcharts.Chart(options);
				});
				
				
			}
			
			function highcharts5() {
				

				var options = {
					chart: {
						renderTo: 'chart',
						type: 'column'
					},
					title: {
						text: 'Life Expectancy - Prostate Cancer'
					},
					xAxis: {
						categories: ['Age']
						
					},
					yAxis: {
						title: {
							text: 'Average Months'
						}
					},
					series: []
				};
				
				
				$.get('data/GroupByAge_AvgMonths_Malegen.csv', function(data) {
					// Split the lines
					var lines = data.split('\n');
					$.each(lines, function(lineNo, line) {
						var items = line.split(',');
						
						// header line containes categories
						if (lineNo == 0) {
							$.each(items, function(itemNo, item) {
								if (itemNo > 0) options.xAxis.categories.push(item);
							});
						}
						
						// the rest of the lines contain data with their name in the first position
						else {
							var series = { 
								data: []
							};
							$.each(items, function(itemNo, item) {
								if (itemNo == 0) {
									series.name = item;
								} else {
									series.data.push(parseFloat(item));
								}
							});
							
							options.series.push(series);

						}
						
					});
					
					var chart = new Highcharts.Chart(options);
				});
				
				
			}
			</script>
	</div>
	<!--/.container-->
</section>
<!--/#feature-->

<% include footer %>
